body {
    background-color: black;
}

h2, p {
    color: white;
}


.nav-container ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
.nav-container li {
    float: left;
  }
  
.nav-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
.nav-container li a:hover {
    background-color: white;
    color: black;
  }



.container{
    display: flex;
    align-items:center;  
    justify-content:center;
}

.headshot {
    max-width: 100%;
    border-radius: 25px;
}

.text{
    font-size: 20px;
    padding-left: 120px;
    width: 65%;
    flex-basis: 40%;
}
  

.header {
    position: fixed;
    padding: 60px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    align-items: center;
    width: 100%;
    top: 50px;
  }

.header h1 {
    color: black;
}

@media screen and (max-width: 600px) {
  .row{
    width: 360px;
    height: 800px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  h2, p{ 
    flex-grow: 1; 
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: inherit;
  }

}

